<ion-header>
    <ion-navbar>
      <ion-title>
        Beacon Practice
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <ion-list no-lines>
  
          <button *ngIf="isShelf" ion-button item-end icon-start (click)="onShelf()">
             <ion-icon name="book"></ion-icon>
              Browse Our Tiny Shelf!
          </button>
          <button *ngIf="isPS4" ion-button item-end icon-start (click)="onPS4()" >
             <ion-icon name="logo-playstation"></ion-icon>
              Start Playing Now!
          </button>
          
      </ion-list>
  </ion-content>
  